openapi: 3.1.0
info:
  title: Multi-Store & Warehouse Management System API
  description: |
    A comprehensive SaaS platform for managing multiple retail locations and warehouses.
    ## Authentication
    All API requests (except login) require authentication via Laravel Sanctum Bearer tokens.
    Include the token in the Authorization header:
    ```
    Authorization: Bearer {your-token}
    ```
    ## Multi-Tenancy
    All authenticated endpoints are scoped by tenant ID. Include the tenant ID in the URL path:
    ```
    /api/v1/tenants/{tenant_id}/...
    ```
    ## Rate Limiting
    - Standard API requests: 60 requests/minute
    - Admin endpoints: 120 requests/minute
    - Authentication endpoints: 10 requests/minute
    ## Response Format
    All responses follow a consistent JSON structure:
    ```json
    {
      "success": true,
      "data": { ... },
      "message": "Optional message",
      "meta": { ... }
    }
    ```
  version: 1.0.0
  contact:
    name: API Support
    email: support@poswms.com
servers:
  - url: https://api.poswms.com/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1
    description: Local development server
tags:
  - name: Authentication
    description: User authentication and token management
  - name: Tenants
    description: Multi-tenant organization management
  - name: Users
    description: User account management
  - name: Roles & Permissions
    description: Role-based access control
  - name: Stores
    description: Retail store locations
  - name: Warehouses
    description: Warehouse and storage facilities
  - name: Products
    description: Product catalog management
  - name: Categories
    description: Product categorization
  - name: Customers
    description: Customer management
  - name: Inventory
    description: Stock tracking and management
  - name: Orders
    description: Order processing and fulfillment
  - name: Pricing
    description: Multi-level pricing tiers and rules
  - name: Reports
    description: Sales and inventory reporting
  - name: Dashboard
    description: Unified metrics and KPIs
  - name: Webhooks
    description: External system integrations
  - name: Audit Logs
    description: Activity tracking and compliance
security:
  - sanctum: []
paths:
  # ==================== Authentication ====================
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User Login
      description: Authenticate user and receive access token
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User Logout
      description: Invalidate current access token
      operationId: logout
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh Token
      description: Generate a new access token
      operationId: refreshToken
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
  /auth/me:
    get:
      tags:
        - Authentication
      summary: Get Current User
      description: Retrieve authenticated user information
      operationId: getCurrentUser
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
  # ==================== Roles & Permissions ====================
  /tenants/{tenant_id}/roles:
    get:
      tags:
        - Roles & Permissions
      summary: List Roles
      description: Get all roles for the tenant
      operationId: listRoles
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
    post:
      tags:
        - Roles & Permissions
      summary: Create Role
      description: Create a new role
      operationId: createRole
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Role created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Role'
  /tenants/{tenant_id}/roles/{roleId}:
    get:
      tags:
        - Roles & Permissions
      summary: Get Role
      description: Get a specific role
      operationId: getRole
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/RoleId'
      responses:
        '200':
          description: Role details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Role'
    put:
      tags:
        - Roles & Permissions
      summary: Update Role
      description: Update a role
      operationId: updateRole
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/RoleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Role'
    delete:
      tags:
        - Roles & Permissions
      summary: Delete Role
      description: Delete a role
      operationId: deleteRole
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/RoleId'
      responses:
        '200':
          description: Role deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /tenants/{tenant_id}/permissions:
    get:
      tags:
        - Roles & Permissions
      summary: List Permissions
      description: Get all available permissions
      operationId: listPermissions
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: List of permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Permission'
    post:
      tags:
        - Roles & Permissions
      summary: Create Permission
      description: Create a new permission
      operationId: createPermission
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Permission created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Permission'
  /tenants/{tenant_id}/permissions/{permissionId}:
    get:
      tags:
        - Roles & Permissions
      summary: Get Permission
      description: Get a specific permission
      operationId: getPermission
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: permissionId
          in: path
          required: true
          schema:
            type: integer
          description: Permission ID
      responses:
        '200':
          description: Permission details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Permission'
    put:
      tags:
        - Roles & Permissions
      summary: Update Permission
      description: Update a permission
      operationId: updatePermission
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: permissionId
          in: path
          required: true
          schema:
            type: integer
          description: Permission ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Permission updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Permission'
    delete:
      tags:
        - Roles & Permissions
      summary: Delete Permission
      description: Delete a permission
      operationId: deletePermission
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: permissionId
          in: path
          required: true
          schema:
            type: integer
          description: Permission ID
      responses:
        '200':
          description: Permission deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /tenants/{tenant_id}/users/{userId}/assign-role:
    post:
      tags:
        - Roles & Permissions
      summary: Assign Role to User
      description: Assign a role to a user
      operationId: assignRoleToUser
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: User ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role_id
              properties:
                role_id:
                  type: integer
      responses:
        '200':
          description: Role assigned
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/User'
  /tenants/{tenant_id}/users/{userId}/remove-role/{roleId}:
    delete:
      tags:
        - Roles & Permissions
      summary: Remove Role from User
      description: Remove a role from a user
      operationId: removeRoleFromUser
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: User ID
        - name: roleId
          in: path
          required: true
          schema:
            type: integer
          description: Role ID
      responses:
        '200':
          description: Role removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  # ==================== Stores ====================
  /tenants/{tenant_id}/stores:
    get:
      tags:
        - Stores
      summary: List Stores
      description: Get all stores for the tenant
      operationId: listStores
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Pagination'
      responses:
        '200':
          description: List of stores
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Store'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags:
        - Stores
      summary: Create Store
      description: Create a new store
      operationId: createStore
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                code:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
                postal_code:
                  type: string
                is_active:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Store created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Store'
  /tenants/{tenant_id}/stores/{storeId}:
    get:
      tags:
        - Stores
      summary: Get Store
      description: Get a specific store
      operationId: getStore
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/StoreId'
      responses:
        '200':
          description: Store details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Store'
    put:
      tags:
        - Stores
      summary: Update Store
      description: Update a store
      operationId: updateStore
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/StoreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                code:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
                postal_code:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Store updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Store'
    delete:
      tags:
        - Stores
      summary: Delete Store
      description: Delete a store
      operationId: deleteStore
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/StoreId'
      responses:
        '200':
          description: Store deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  # ==================== Warehouses ====================
  /tenants/{tenant_id}/warehouses:
    get:
      tags:
        - Warehouses
      summary: List Warehouses
      description: Get all warehouses for the tenant
      operationId: listWarehouses
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Pagination'
      responses:
        '200':
          description: List of warehouses
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Warehouse'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags:
        - Warehouses
      summary: Create Warehouse
      description: Create a new warehouse
      operationId: createWarehouse
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                code:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
                postal_code:
                  type: string
                is_active:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Warehouse created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Warehouse'
  /tenants/{tenant_id}/warehouses/{warehouseId}:
    get:
      tags:
        - Warehouses
      summary: Get Warehouse
      description: Get a specific warehouse
      operationId: getWarehouse
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WarehouseId'
      responses:
        '200':
          description: Warehouse details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Warehouse'
    put:
      tags:
        - Warehouses
      summary: Update Warehouse
      description: Update a warehouse
      operationId: updateWarehouse
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WarehouseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                code:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
                postal_code:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Warehouse updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Warehouse'
    delete:
      tags:
        - Warehouses
      summary: Delete Warehouse
      description: Delete a warehouse
      operationId: deleteWarehouse
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WarehouseId'
      responses:
        '200':
          description: Warehouse deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  # ==================== Categories ====================
  /tenants/{tenant_id}/categories:
    get:
      tags:
        - Categories
      summary: List Categories
      description: Get all categories for the tenant
      operationId: listCategories
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Pagination'
        - name: search
          in: query
          schema:
            type: string
          description: Search by name
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags:
        - Categories
      summary: Create Category
      description: Create a new category
      operationId: createCategory
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                description:
                  type: string
                parent_id:
                  type: integer
                is_active:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Category'
  /tenants/{tenant_id}/categories/{categoryId}:
    get:
      tags:
        - Categories
      summary: Get Category
      description: Get a specific category
      operationId: getCategory
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
          description: Category ID
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Category'
    put:
      tags:
        - Categories
      summary: Update Category
      description: Update a category
      operationId: updateCategory
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
          description: Category ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                parent_id:
                  type: integer
                is_active:
                  type: boolean
      responses:
        '200':
          description: Category updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Category'
    delete:
      tags:
        - Categories
      summary: Delete Category
      description: Delete a category
      operationId: deleteCategory
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
          description: Category ID
      responses:
        '200':
          description: Category deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  # ==================== Customers ====================
  /tenants/{tenant_id}/customers:
    get:
      tags:
        - Customers
      summary: List Customers
      description: Get all customers for the tenant
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Pagination'
        - name: search
          in: query
          schema:
            type: string
          description: Search by name or email
        - name: pricing_tier_id
          in: query
          schema:
            type: integer
          description: Filter by pricing tier
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags:
        - Customers
      summary: Create Customer
      description: Create a new customer
      operationId: createCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                pricing_tier_id:
                  type: integer
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
                postal_code:
                  type: string
                notes:
                  type: string
                is_active:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Customer'
  /tenants/{tenant_id}/customers/{customerId}:
    get:
      tags:
        - Customers
      summary: Get Customer
      description: Get a specific customer
      operationId: getCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
          description: Customer ID
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Customer'
    put:
      tags:
        - Customers
      summary: Update Customer
      description: Update a customer
      operationId: updateCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
          description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                pricing_tier_id:
                  type: integer
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
                postal_code:
                  type: string
                notes:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Customer'
    delete:
      tags:
        - Customers
      summary: Delete Customer
      description: Delete a customer
      operationId: deleteCustomer
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
          description: Customer ID
      responses:
        '200':
          description: Customer deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  # ==================== Products ====================
  /tenants/{tenant_id}/products:
    get:
      tags:
        - Products
      summary: List Products
      description: Get all products for the tenant
      operationId: listProducts
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Pagination'
        - name: category_id
          in: query
          schema:
            type: integer
          description: Filter by category
        - name: search
          in: query
          schema:
            type: string
          description: Search by name or SKU
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      - $ref: '#/components/schemas/Product'
                      - $ref: '#/components/schemas/PaginationMeta'
    post:
      tags:
        - Products
      summary: Create Product
      description: Create a new product
      operationId: createProduct
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - sku
              properties:
                name:
                  type: string
                sku:
                  type: string
                description:
                  type: string
                category_id:
                  type: integer
                base_price:
                  type: number
                  format: float
                cost_price:
                  type: number
                  format: float
                min_stock_level:
                  type: integer
                is_active:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Product'
  /tenants/{tenant_id}/products/{productId}:
    get:
      tags:
        - Products
      summary: Get Product
      description: Get a specific product
      operationId: getProduct
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Product'
    put:
      tags:
        - Products
      summary: Update Product
      description: Update a product
      operationId: updateProduct
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/ProductId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                sku:
                  type: string
                description:
                  type: string
                category_id:
                  type: integer
                base_price:
                  type: number
                cost_price:
                  type: number
                min_stock_level:
                  type: integer
                is_active:
                  type: boolean
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Product'
    delete:
      tags:
        - Products
      summary: Delete Product
      description: Delete a product
      operationId: deleteProduct
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          description: Product deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  # ==================== Inventory ====================
  /tenants/{tenant_id}/inventory:
    get:
      tags:
        - Inventory
      summary: List Inventory
      description: Get inventory levels
      operationId: listInventory
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Pagination'
        - name: product_id
          in: query
          schema:
            type: integer
          description: Filter by product
        - name: warehouse_id
          in: query
          schema:
            type: integer
          description: Filter by warehouse
        - name: store_id
          in: query
          schema:
            type: integer
          description: Filter by store
      responses:
        '200':
          description: Inventory levels
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Inventory'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags:
        - Inventory
      summary: Create Inventory
      description: Create a new inventory record
      operationId: createInventory
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - location_type
                - location_id
              properties:
                product_id:
                  type: integer
                location_type:
                  type: string
                  enum: [warehouse, store]
                location_id:
                  type: integer
                quantity:
                  type: integer
                  default: 0
                min_stock_level:
                  type: integer
      responses:
        '201':
          description: Inventory created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Inventory'
  /tenants/{tenant_id}/inventory/{inventoryId}:
    get:
      tags:
        - Inventory
      summary: Get Inventory
      description: Get a specific inventory record
      operationId: getInventory
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: inventoryId
          in: path
          required: true
          schema:
            type: integer
          description: Inventory ID
      responses:
        '200':
          description: Inventory details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Inventory'
    put:
      tags:
        - Inventory
      summary: Update Inventory
      description: Update an inventory record
      operationId: updateInventory
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: inventoryId
          in: path
          required: true
          schema:
            type: integer
          description: Inventory ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                min_stock_level:
                  type: integer
      responses:
        '200':
          description: Inventory updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Inventory'
    delete:
      tags:
        - Inventory
      summary: Delete Inventory
      description: Delete an inventory record
      operationId: deleteInventory
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: inventoryId
          in: path
          required: true
          schema:
            type: integer
          description: Inventory ID
      responses:
        '200':
          description: Inventory deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  /tenants/{tenant_id}/inventory/product/{productId}/transferable:
    get:
      tags:
        - Inventory
      summary: Get Transferable Inventory
      description: Get transferable inventory for a product
      operationId: getTransferableInventory
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: productId
          in: path
          required: true
          schema:
            type: integer
          description: Product ID
      responses:
        '200':
          description: Transferable inventory
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransferableInventory'
  /tenants/{tenant_id}/inventory/transfer:
    post:
      tags:
        - Inventory
      summary: Transfer Stock
      description: Transfer stock between locations
      operationId: transferStock
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - from_location_type
                - from_location_id
                - to_location_type
                - to_location_id
                - quantity
              properties:
                product_id:
                  type: integer
                from_location_type:
                  type: string
                  enum: [warehouse, store]
                from_location_id:
                  type: integer
                to_location_type:
                  type: string
                  enum: [warehouse, store]
                to_location_id:
                  type: integer
                quantity:
                  type: integer
                notes:
                  type: string
      responses:
        '200':
          description: Stock transferred
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/StockMovement'
  # ==================== Orders ====================
  /tenants/{tenant_id}/orders:
    get:
      tags:
        - Orders
      summary: List Orders
      description: Get all orders
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Pagination'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, fulfilling, completed, cancelled]
          description: Filter by status
        - name: customer_id
          in: query
          schema:
            type: integer
          description: Filter by customer
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags:
        - Orders
      summary: Create Order
      description: Create a new order
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
                - items
              properties:
                customer_id:
                  type: integer
                order_date:
                  type: string
                  format: date-time
                notes:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - product_id
                      - quantity
                    properties:
                      product_id:
                        type: integer
                      quantity:
                        type: integer
                      unit_price:
                        type: number
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
  /tenants/{tenant_id}/orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get Order
      description: Get a specific order
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Order'
    put:
      tags:
        - Orders
      summary: Update Order
      description: Update an order
      operationId: updateOrder
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  type: integer
                order_date:
                  type: string
                  format: date-time
                notes:
                  type: string
                status:
                  type: string
                  enum: [pending, confirmed, fulfilling, completed, cancelled]
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - product_id
                      - quantity
                    properties:
                      product_id:
                        type: integer
                      quantity:
                        type: integer
                      unit_price:
                        type: number
      responses:
        '200':
          description: Order updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
    delete:
      tags:
        - Orders
      summary: Delete Order
      description: Delete an order
      operationId: deleteOrder
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  /tenants/{tenant_id}/orders/{orderId}/confirm:
    post:
      tags:
        - Orders
      summary: Confirm Order
      description: Confirm an order
      operationId: confirmOrder
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order confirmed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
  /tenants/{tenant_id}/orders/{orderId}/fulfill:
    post:
      tags:
        - Orders
      summary: Fulfill Order
      description: Process order fulfillment
      operationId: fulfillOrder
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order fulfilled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
  /tenants/{tenant_id}/orders/{orderId}/cancel:
    post:
      tags:
        - Orders
      summary: Cancel Order
      description: Cancel an order
      operationId: cancelOrder
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Order'
  # ==================== Pricing ====================
  /tenants/{tenant_id}/pricing-tiers:
    get:
      tags:
        - Pricing
      summary: List Pricing Tiers
      description: Get all pricing tiers
      operationId: listPricingTiers
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: List of pricing tiers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PricingTier'
    post:
      tags:
        - Pricing
      summary: Create Pricing Tier
      description: Create a new pricing tier
      operationId: createPricingTier
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                discount_percentage:
                  type: number
      responses:
        '201':
          description: Pricing tier created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PricingTier'
  /tenants/{tenant_id}/pricing-tiers/{pricingTierId}:
    get:
      tags:
        - Pricing
      summary: Get Pricing Tier
      description: Get a specific pricing tier
      operationId: getPricingTier
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: pricingTierId
          in: path
          required: true
          schema:
            type: integer
          description: Pricing Tier ID
      responses:
        '200':
          description: Pricing tier details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PricingTier'
    put:
      tags:
        - Pricing
      summary: Update Pricing Tier
      description: Update a pricing tier
      operationId: updatePricingTier
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: pricingTierId
          in: path
          required: true
          schema:
            type: integer
          description: Pricing Tier ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                discount_percentage:
                  type: number
      responses:
        '200':
          description: Pricing tier updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PricingTier'
    delete:
      tags:
        - Pricing
      summary: Delete Pricing Tier
      description: Delete a pricing tier
      operationId: deletePricingTier
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: pricingTierId
          in: path
          required: true
          schema:
            type: integer
          description: Pricing Tier ID
      responses:
        '200':
          description: Pricing tier deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  /tenants/{tenant_id}/pricing-rules:
    get:
      tags:
        - Pricing
      summary: List Pricing Rules
      description: Get all pricing rules
      operationId: listPricingRules
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: List of pricing rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PricingRule'
    post:
      tags:
        - Pricing
      summary: Create Pricing Rule
      description: Create a new pricing rule
      operationId: createPricingRule
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pricing_tier_id
                - product_id
                - price
              properties:
                pricing_tier_id:
                  type: integer
                product_id:
                  type: integer
                price:
                  type: number
                min_quantity:
                  type: integer
                max_quantity:
                  type: integer
      responses:
        '201':
          description: Pricing rule created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PricingRule'
  /tenants/{tenant_id}/pricing-rules/{pricingRuleId}:
    get:
      tags:
        - Pricing
      summary: Get Pricing Rule
      description: Get a specific pricing rule
      operationId: getPricingRule
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: pricingRuleId
          in: path
          required: true
          schema:
            type: integer
          description: Pricing Rule ID
      responses:
        '200':
          description: Pricing rule details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PricingRule'
    put:
      tags:
        - Pricing
      summary: Update Pricing Rule
      description: Update a pricing rule
      operationId: updatePricingRule
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: pricingRuleId
          in: path
          required: true
          schema:
            type: integer
          description: Pricing Rule ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pricing_tier_id:
                  type: integer
                product_id:
                  type: integer
                price:
                  type: number
                min_quantity:
                  type: integer
                max_quantity:
                  type: integer
      responses:
        '200':
          description: Pricing rule updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PricingRule'
    delete:
      tags:
        - Pricing
      summary: Delete Pricing Rule
      description: Delete a pricing rule
      operationId: deletePricingRule
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: pricingRuleId
          in: path
          required: true
          schema:
            type: integer
          description: Pricing Rule ID
      responses:
        '200':
          description: Pricing rule deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  /tenants/{tenant_id}/prices/calculate:
    post:
      tags:
        - Pricing
      summary: Calculate Price
      description: Calculate price for a product with all rules applied
      operationId: calculatePrice
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - customer_id
              properties:
                product_id:
                  type: integer
                customer_id:
                  type: integer
                quantity:
                  type: integer
      responses:
        '200':
          description: Calculated price
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PriceCalculation'
  /tenants/{tenant_id}/prices/calculate-cart:
    post:
      tags:
        - Pricing
      summary: Calculate Cart Price
      description: Calculate total price for a cart with all rules applied
      operationId: calculateCartPrice
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
                - items
              properties:
                customer_id:
                  type: integer
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - product_id
                      - quantity
                    properties:
                      product_id:
                        type: integer
                      quantity:
                        type: integer
      responses:
        '200':
          description: Cart price calculated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      subtotal:
                        type: number
                      discount:
                        type: number
                      total:
                        type: number
                      applied_rules:
                        type: array
                        items:
                          type: object
  # ==================== Reports ====================
  /tenants/{tenant_id}/reports/sales/revenue:
    get:
      tags:
        - Reports
      summary: Sales Revenue Report
      description: Get revenue report
      operationId: getRevenueReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: group_by
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: day
      responses:
        '200':
          description: Revenue report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RevenueReport'
  /tenants/{tenant_id}/reports/sales/orders-by-period:
    get:
      tags:
        - Reports
      summary: Orders By Period Report
      description: Get orders grouped by period
      operationId: getOrdersByPeriodReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: group_by
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: day
      responses:
        '200':
          description: Orders by period report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        period:
                          type: string
                        orders_count:
                          type: integer
                        total_amount:
                          type: number
  /tenants/{tenant_id}/reports/sales/top-products:
    get:
      tags:
        - Reports
      summary: Top Products Report
      description: Get top selling products
      operationId: getTopProductsReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          description: Number of products to return
      responses:
        '200':
          description: Top products report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: integer
                        product_name:
                          type: string
                        quantity_sold:
                          type: integer
                        revenue:
                          type: number
  /tenants/{tenant_id}/reports/sales/dashboard:
    get:
      tags:
        - Reports
      summary: Sales Dashboard Metrics
      description: Get sales metrics for dashboard
      operationId: getSalesDashboardMetrics
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Sales dashboard metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      today_revenue:
                        type: number
                      month_revenue:
                        type: number
                      orders_count:
                        type: integer
                      average_order_value:
                        type: number
  /tenants/{tenant_id}/reports/sales/export/revenue:
    get:
      tags:
        - Reports
      summary: Export Revenue Report
      description: Export revenue report (CSV/Excel)
      operationId: exportRevenueReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, xlsx]
            default: csv
      responses:
        '200':
          description: Revenue report exported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      download_url:
                        type: string
                      expires_at:
                        type: string
                        format: date-time
  /tenants/{tenant_id}/reports/sales/export/orders-by-period:
    get:
      tags:
        - Reports
      summary: Export Orders By Period Report
      description: Export orders by period report (CSV/Excel)
      operationId: exportOrdersByPeriodReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: group_by
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: day
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, xlsx]
            default: csv
      responses:
        '200':
          description: Orders report exported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      download_url:
                        type: string
                      expires_at:
                        type: string
                        format: date-time
  /tenants/{tenant_id}/reports/sales/export/top-products:
    get:
      tags:
        - Reports
      summary: Export Top Products Report
      description: Export top products report (CSV/Excel)
      operationId: exportTopProductsReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, xlsx]
            default: csv
      responses:
        '200':
          description: Top products report exported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      download_url:
                        type: string
                      expires_at:
                        type: string
                        format: date-time
  /tenants/{tenant_id}/reports/inventory:
    get:
      tags:
        - Reports
      summary: Inventory Report
      description: Get comprehensive inventory report
      operationId: getInventoryReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: warehouse_id
          in: query
          schema:
            type: integer
        - name: store_id
          in: query
          schema:
            type: integer
        - name: product_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Inventory report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Inventory'
  /tenants/{tenant_id}/reports/inventory/movements:
    get:
      tags:
        - Reports
      summary: Inventory Movements Report
      description: Get inventory movement history
      operationId: getInventoryMovementsReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: product_id
          in: query
          schema:
            type: integer
        - name: warehouse_id
          in: query
          schema:
            type: integer
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Inventory movements report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StockMovement'
  /tenants/{tenant_id}/reports/inventory/export/stock-levels:
    get:
      tags:
        - Reports
      summary: Export Stock Levels Report
      description: Export stock levels report (CSV/Excel)
      operationId: exportStockLevelsReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: warehouse_id
          in: query
          schema:
            type: integer
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, xlsx]
            default: csv
      responses:
        '200':
          description: Stock levels report exported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      download_url:
                        type: string
                      expires_at:
                        type: string
                        format: date-time
  /tenants/{tenant_id}/reports/inventory/export/movements:
    get:
      tags:
        - Reports
      summary: Export Inventory Movements Report
      description: Export inventory movements report (CSV/Excel)
      operationId: exportInventoryMovementsReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: product_id
          in: query
          schema:
            type: integer
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, xlsx]
            default: csv
      responses:
        '200':
          description: Inventory movements report exported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      download_url:
                        type: string
                      expires_at:
                        type: string
                        format: date-time
  /tenants/{tenant_id}/reports/inventory/export/low-stock:
    get:
      tags:
        - Reports
      summary: Export Low Stock Report
      description: Export low stock report (CSV/Excel)
      operationId: exportLowStockReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, xlsx]
            default: csv
      responses:
        '200':
          description: Low stock report exported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      download_url:
                        type: string
                      expires_at:
                        type: string
                        format: date-time
  /tenants/{tenant_id}/reports/inventory/stock-levels:
    get:
      tags:
        - Reports
      summary: Stock Levels Report
      description: Get current stock levels
      operationId: getStockLevelsReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: warehouse_id
          in: query
          schema:
            type: integer
        - name: product_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Stock levels report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Inventory'
  /tenants/{tenant_id}/reports/inventory/low-stock:
    get:
      tags:
        - Reports
      summary: Low Stock Report
      description: Get products below minimum stock level
      operationId: getLowStockReport
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Low stock report
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
  # ==================== Dashboard ====================
  /tenants/{tenant_id}/dashboard:
    get:
      tags:
        - Dashboard
      summary: Dashboard Metrics
      description: Get unified dashboard metrics
      operationId: getDashboard
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Dashboard metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/DashboardMetrics'
  # ==================== Webhooks ====================
  /tenants/{tenant_id}/webhooks:
    get:
      tags:
        - Webhooks
      summary: List Webhooks
      description: Get all webhooks for the tenant
      operationId: listWebhooks
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
    post:
      tags:
        - Webhooks
      summary: Create Webhook
      description: Create a new webhook
      operationId: createWebhook
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - url
                - events
              properties:
                name:
                  type: string
                url:
                  type: string
                  format: uri
                secret:
                  type: string
                events:
                  type: array
                  items:
                    type: string
                active:
                  type: boolean
                  default: true
                content_type:
                  type: string
                  enum: [json, form-data]
                  default: json
                headers:
                  type: object
                  additionalProperties:
                    type: string
                retry_count:
                  type: integer
                  default: 3
                timeout:
                  type: integer
                  default: 30
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Webhook'
  /tenants/{tenant_id}/webhooks/{webhookId}:
    get:
      tags:
        - Webhooks
      summary: Get Webhook
      description: Get a specific webhook
      operationId: getWebhook
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Webhook'
    put:
      tags:
        - Webhooks
      summary: Update Webhook
      description: Update a webhook
      operationId: updateWebhook
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WebhookId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
                secret:
                  type: string
                events:
                  type: array
                  items:
                    type: string
                active:
                  type: boolean
                content_type:
                  type: string
                headers:
                  type: object
                  additionalProperties:
                    type: string
                retry_count:
                  type: integer
                timeout:
                  type: integer
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/Webhook'
    delete:
      tags:
        - Webhooks
      summary: Delete Webhook
      description: Delete a webhook
      operationId: deleteWebhook
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  /tenants/{tenant_id}/webhooks/{webhookId}/test:
    post:
      tags:
        - Webhooks
      summary: Test Webhook
      description: Send a test event to the webhook
      operationId: testWebhook
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      webhook_id:
                        type: integer
                      success:
                        type: boolean
                      status:
                        type: integer
  /tenants/{tenant_id}/webhooks/{webhookId}/attempts:
    get:
      tags:
        - Webhooks
      summary: Get Delivery Attempts
      description: Get delivery attempt history
      operationId: getWebhookAttempts
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Delivery attempts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDeliveryAttempt'
  /tenants/{tenant_id}/webhooks/{webhookId}/retry:
    post:
      tags:
        - Webhooks
      summary: Retry Failed Deliveries
      description: Retry failed delivery attempts
      operationId: retryWebhookDeliveries
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Retry initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  # ==================== Audit Logs ====================
  /tenants/{tenant_id}/audit-logs:
    get:
      tags:
        - Audit Logs
      summary: List Audit Logs
      description: Get audit log entries
      operationId: listAuditLogs
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Pagination'
        - name: event_type
          in: query
          schema:
            type: string
          description: Filter by event type
        - name: user_id
          in: query
          schema:
            type: integer
          description: Filter by user
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
  /tenants/{tenant_id}/audit-logs/{auditLogId}:
    get:
      tags:
        - Audit Logs
      summary: Get Audit Log
      description: Get a specific audit log entry
      operationId: getAuditLog
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/AuditLogId'
      responses:
        '200':
          description: Audit log details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/AuditLog'
  /tenants/{tenant_id}/audit-logs/by-user/{userId}:
    get:
      tags:
        - Audit Logs
      summary: Audit Logs By User
      description: Get audit logs for a specific user
      operationId: getAuditLogsByUser
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: User ID
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Audit logs by user
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
  /tenants/{tenant_id}/audit-logs/summary:
    get:
      tags:
        - Audit Logs
      summary: Audit Summary
      description: Get audit log summary statistics
      operationId: getAuditSummary
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Audit summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      total_events:
                        type: integer
                      by_event_type:
                        type: object
                      by_user:
                        type: array
components:
  securitySchemes:
    sanctum:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Laravel Sanctum API token
  parameters:
    TenantId:
      name: tenant_id
      in: path
      required: true
      schema:
        type: integer
      description: Tenant ID for multi-tenant scoping
    StoreId:
      name: storeId
      in: path
      required: true
      schema:
        type: integer
    WarehouseId:
      name: warehouseId
      in: path
      required: true
      schema:
        type: integer
    ProductId:
      name: productId
      in: path
      required: true
      schema:
        type: integer
    OrderId:
      name: orderId
      in: path
      required: true
      schema:
        type: integer
    RoleId:
      name: roleId
      in: path
      required: true
      schema:
        type: integer
    WebhookId:
      name: webhookId
      in: path
      required: true
      schema:
        type: integer
    AuditLogId:
      name: auditLogId
      in: path
      required: true
      schema:
        type: integer
    CategoryId:
      name: categoryId
      in: path
      required: true
      schema:
        type: integer
      description: Category ID
    CustomerId:
      name: customerId
      in: path
      required: true
      schema:
        type: integer
      description: Customer ID
    InventoryId:
      name: inventoryId
      in: path
      required: true
      schema:
        type: integer
      description: Inventory ID
    PricingTierId:
      name: pricingTierId
      in: path
      required: true
      schema:
        type: integer
      description: Pricing Tier ID
    PricingRuleId:
      name: pricingRuleId
      in: path
      required: true
      schema:
        type: integer
      description: Pricing Rule ID
    PermissionId:
      name: permissionId
      in: path
      required: true
      schema:
        type: integer
      description: Permission ID
    Pagination:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 20
      description: Items per page
  schemas:
    # ==================== Auth ====================
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            token:
              type: string
            token_type:
              type: string
              examples: ["Bearer"] # Changed from 'example: Bearer' to 'examples: ["Bearer"]'
            expires_in:
              type: integer
    # ==================== Users & Roles ====================
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
        tenant_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Role:
      type: object
      properties:
        id:
          type: integer
        tenant_id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        permissions:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Permission:
      type: object
      properties:
        id:
          type: integer
        tenant_id:
          type: integer
        name:
          type: string
        slug:
          type: string
        created_at:
          type: string
          format: date-time
    # ==================== Entities ====================
    Category:
      type: object
      properties:
        id:
          type: integer
        tenant_id:
          type: integer
        name:
          type: string
        description:
          type: string
        slug:
          type: string
        parent_id:
          type: integer
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Customer:
      type: object
      properties:
        id:
          type: integer
        tenant_id:
          type: integer
        name:
          type: string
        email:
          type: string
          format: email
        phone:
[...]
